ul li{
/* list-style-image: url(register.png); */
list-style:url(note.png) outside;
}
th{
    /* width: 10px; */
    padding: 10px;
    background-color: lightblue;
    border-top: lightblue solid 2px;
    border-bottom: blue solid 2px;
}
td{
    background-color: #e6f1f8;
    padding: 10px;
    width: 150px;
    
}
table{
    /* border-spacing: 5px; */
    background-color: #e6f1f8;
}
.email{
    margin-left: 105px;
}
input[type="radio"]{
    margin-left: 30px;
}
.number{
    margin-left: 25px;
}
.text{
    margin-left: 70px;
}