body{
background-color: #381d12;
}
header{
    background-color: #9d9a95;
    width: 100%;
    height: 80px;
}
.one{
    width: 70px;
    height: 70px;
    display: inline-block;
    padding: 5px 0 0 10px ;
}
.icon2{
    color: white;
    margin-left: 20px;
    display: inline-block;
    font-size: 20px;
    margin-top: -18px;
}
.wrapper{
    display: flex;
}
nav{
    background-color: #adada8;
    width: 100%;
    position: relative;
    top: -24px;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    padding: 0 20px 0 0;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
ul li a:hover{
    color: black;
}
.main{
    width: 100%;
    height: 20vh;
    display: flex;
    margin-top: 35px;
}
.container{
    width: 80%;
    height: 90vh;
    background-color: aquamarine;
    position: fixed;
  top: 30%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -30%);
}

.four{
    width: 44%;
    margin-left: 30px;
}

.h2{
    color: red;
}
.image{
    width: 250px;
    margin-top: 10px;
height: 150px;

}
figcaption{
    /* margin-left: 30px; */
}
#h2,#h3 ,#h4,#h5,#h6{
    color: red;
}
.main2{
    display: flex;
    width: 100%;
    height: 15vh;
    margin-top: 10px;
}
.seven{
    width: 47%;
    margin-left: 30px;
}
.eaight{
    width: 25%;
}
footer{
    background-color: #9d9a95;
    width: 100%;
    margin-top: 0px;
    height: 21px;
    color: white;
  padding: 3px 0 5px 0px;
  margin-top: 70px;
  margin-right: 20px;
}
.p{
    font-size: 25px;
}
.eaight p{
    font-size: 20px;
}
.ten{
    width: 100%;
    
}
/* @media screen and (max-width:815px){
 .main2{
    position: relative;
  top: 100px;
 }
}
@media screen and (max-width:539px){
    .main2{
position: relative;
top: 300px;
    }
  
}

@media screen and (max-width:330px){
    .main2{
position: relative;
top: 400px;
    }
}
@media screen and (max-width:260px){
    .main2{
position: relative;
top: 600px;
    }
    hr{
        position: relative;
        top: 400px;
    }
}
@media screen and (max-width:210px){
    .main2{
position: relative;
top: 700px;
    }
    hr{
        position: relative;
        top: 400px;
    }
} */
@media screen and (max-width:815px){
   .main .four {
width: 100%;
    }

    hr{
        display: none;
    }
    .three{
        margin: auto;
    }
    .main{
        display: flex;
        flex-direction: column;
        position: relative;
        top: 10px;
    }
    h2,h3,h4,h5,h6{
        display: none;
    }
     .seven{
        
width: 100%;
    }
    .main2{
flex-direction: column;
position: relative;
top: 100px;
    }
    .six{
        margin: auto;
    }
}
@media screen and (max-width:570px){
    .main2{
position: relative;
top: 250px;
    }
    .main{
position: relative;
top: 100px;
    }
}
@media screen and (max-width:370px){
    .main2{
position: relative;
top: 350px;
    }
}
@media screen and (max-width:270px){
    .main2{
position: relative;
top: 500px;
    }
}
@media screen and (max-width:230px){
    .main2{
position: relative;
top: 660px;
    }
}