body{
padding: 0;
margin: 0;
font-family: Arial, Helvetica, sans-serif;
background-color: #e91e63;
}
ul
{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50% -50% );
    margin: 0;
    padding: 20px 0;
    background-color: white;
    display:flex;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3);
}
ul li
 {
list-style: none;
text-align: center;
display: block;
border-right: 1px solid rgba(0, 0, 0,.3);
}
ul li:last-child{
    border-right:none;  
}
ul li a
{
    text-decoration: none;
    padding: 0 50px;
    display: block;
}
ul li a .icon{
width: 40px;
height: 40px;
height: 40px;
overflow: hidden;
background-color: #ccc;
margin: 0 auto 10px;
}
ul li a .icon .fa
{
    width: 100%;
    height: 100%;
    line-height: 40px;
    font-size: 30px;
    transition: 0.5s;
    color: #000;
}
ul li a .icon .fa:last-child{
    color: #e91e63;
}
ul li a:hover .icon .fa{
    transform: translatey(-100%);
}
ul li a .name{
    position: relative;
    height: 20px;
    width: 100%;
    display: block;
}
