body{
background-color: #a80057;
}
.container{

    position: fixed;

    top: 50%;

    left: 50%;

    /* bring your own prefixes */

    transform: translate(-50%, -50%);

    background-color: white;

    border: black solid 2px;

    width: 400px;

    height: 500px;

}

.enter{

border: none;

border-bottom: #a80057 solid 2px;

outline: none;

width: 250px;

}

.last{

    border: none;

    border-bottom: #a80057 solid 2px;

    outline: none;

    width: 250px;

}
.submit{

background-color: #a80057;

width: 250px;

height: 40px;

border: none;

outline: none;

color: white;

}

.btn-box{

    margin-right: 40px;

    border: black solid 2px;

    width: 250px;

    height: 30px;

    /* background-color: blue; */

    text-align: center;

    color: white;

    background: url(twitter.png)  #18bbfe
    
    no-repeat left;

    background-size: 30px;

    padding-top: -2px;

padding-bottom: 10px;

    border: none;

    outline: none;

    margin-left: 4em;


}

.lorem{

padding-top: 10px;

}
.facebook{
   
    margin-right: 40px;

    border: black solid 2px;

    width: 250px;

    height: 30px;

    /* background-color: blue; */

    text-align: center;

    color: white;

    background: url(wawa.png)  #18bbfe
    
    
    no-repeat left;

    background-size: 30px;

    padding-top: -2px;

padding-bottom: 10px;

    border: none;

    outline: none;

    margin-left: 4em;
}

form{

text-align: center;

}

h1{

margin-right: 20px;

}

.icon{

    padding-top: 10px;

    padding-bottom: 10px;

}