*{
    padding: 0px;
    margin: 0px;
}
nav{
width: 100%;
height: 120px;
/* background-color: black; */
position: fixed;
}
nav ul{
    position: fixed;
    top: 10%;
    left: 25%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
nav ul li{
    display: inline-block;
list-style: none;
    font-size: 25px;
}
nav ul li a{
    display: block;
    padding: 30px;
 text-decoration: none;
    color: white;
}
ol{
    float: right;
    position: fixed;
    top: 10%;
    left: 80%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
ol li{
    display: inline-block;
    list-style: none;
}
ol li .name{
    width: 200px;
    height: 30px;
    border: none;
    outline: none;
padding-left: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
}
::placeholder{
    font-size: 17px;
}
.one{
    display: flex;
/* width: 400px; */
}
ol li .name:focus{
    background-color: aquamarine;
}
.wrapper{
background: url(ouput.png); 
 width: 100%;
 height: 700px; 
background-repeat: no-repeat;
background-size: cover;
}