*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #f7f7f7;

}
.contianer{
    width: 100%;
    height: 100vh;
}
a[href="Quantra tabel.html"]{
    width: 37px;
    height: 32px;
    background-color: #cccccc;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 10px;
}
label[for="Client"]{
    margin-left: 10px;
    position: relative;
    top: 10px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
label[for="User List"]{
    position: absolute;
    top: 29px;
    left: 500px;
    display: inline-block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.wrapping{
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    width: 100%;
    justify-content:center;
}
form[action="£"]{
    width: 30%;
    height: 100%;
    box-shadow: 0 0 10px #f7f7f7;
    position: relative;
    background-color: white;
}
.form-control{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
border-radius: 5px;
}
.view{
    width: 95%;
    background-color: #1a95a5;
    border: none;
    outline: none;
    height: 30px;
    cursor: pointer;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 3px !important;
}
.file{
    width: 45%;
    background-color: #1a95a5;
    border: none;
    outline: none;
    height: 30px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    position: absolute;
    top: 70px;
    left: 12px;
}
.tabel-container{
    width: 60%;
    height: 300px;
    background-color: white;
    box-shadow: 0 0 10px #f7f7f7;
    margin-left: 30px;
position: relative;
border-radius: 5px;

}

.fiel-holder{
    position: relative;
    margin-bottom: 1.25em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
input{
    border: 0;
    outline: none;

}
input:focus{
    border-bottom: #a7d3d9 solid 2px;
}
label[for="inside-input"]{
    position: absolute;
    top: 0;
    left: 30px;
    color: #777;
    display: flex;
    align-items: center;
    font-size: .75em;
    top: -15px;
    pointer-events: none;
}

input ,label{
    height: 55px;
}
.width{
    width: 90%;
    background-color: #f0f0f0;
    text-indent: 20px;
}
.upload{
    width: 46%;
    height: 30px;
    border: none;
     background-color: #1a95a5;
     outline: none;
     margin-top: 17px;
     margin-left: 10px;
     color: white;
     cursor: pointer;

}
button{
    border-radius: 3px !important;

}
.flex{
    width: 100%;
    display: flex;
    height: 40px;
}
.left-side{
    flex: 50%;
    border: solid 1px #e3e3e3;
    border-right: none;
    border-left: none;
    border-top: none;
    line-height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.right-side{
    flex: 50%;
    border: solid 1px #e3e3e3;
    border-right: none;
    border-top: none;
    line-height: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
.right{
    position: absolute;
    right: 10px;
    margin-top: 10px;
}
.abs{
    margin-right: 30px;
    font-size: 10px;
}
.p{
    margin-top: 10px;
}
