body{
background-color: silver;
color: white ;
padding: 20px;
font-family: Arial,verdana, sans-serif;
}
h1{
background-color: #ffffff;
background-color: hsl(0, 100%, 100%,0.5);
color: #64645a;
}
p{
padding: 5px;
margin: 0px;
}
.zero{
background-color: rgb(238, 62, 128);
}
.one{
background-color: rgb(244, 90, 139);
}
.two{
background-color: rgb(243, 106, 152);

}
.three{
background-color: rgb(244, 123, 166);
}
.four{
background-color: rgb(245, 140, 178);
}
.five{
background-color: rgb(246, 195, 192);
}