body{
background-color: #f7f7f7;
}
.container{
    width: 400px;
    height: 280px;
background-color: white;
box-shadow: 0 0 10px #898989;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
padding: 20px;
}
img[src="Quantra_logo.png"]{
    display: block;
    margin: auto;
    text-align: center;
}
p{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.email-input{
    width: 98%;
    padding-top: 30px;
    padding-bottom: 15px;
    border: none;
    outline: none;
    border-bottom: #e1e1e1 solid 2px;
    background-color: #f3f3f3;
    text-indent: 20px;
}
label{
    position: relative;
    bottom: 55px;
    left: 20px;
    font-size: 11px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.email-input:focus ~ label{
    color: #1a95a5;
}
.email-input:focus{
    border-bottom: solid #1a95a5 2px;
}
.submit{
    width: 98%;
    height: 40px;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    outline: none;
    background-color: #1a95a5;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
a[href="Quantra.html"]{
    background-color: #1a95a5;
    color: white;
    width: 98%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  @media only screen and (max-width: 440px) {
    .container{
        width: 95%;

    }
  }